:root {
    --alice-blue: #DEEFFF;
    --st-patricks-blue: #112576;
    --shortpoint-blue: #3161D1;
    --page-bg-white: #F5F5F5;
    --text-black: #2B2F45;
    --baby-blue-eyes: #A4C2F4;
    --frostbite-pink: #EA43AA;
    --neutral-dark: #04081B;
    --alice-blue-ii: #F2FAFF;
    --magnolia: #EFF2FF;
    
}


/* Theme will apply this. Remove later */


body {
    background-color: var(--page-bg-white);
    color: var(--text-black);
}

h1 {
    font-weight: 700;
    color: var(--st-patricks-blue);
}


/* Section styles apply this. */


h3 {
    color: var(--shortpoint-blue);
}

main > div:first-child :is(h1, h2) {
    align-self: flex-start;
}

@media (min-width: 600px) {
    main > div:first-child :is(h1, h2) {
        align-self: center;
    }
}


/* Custom css */


/* General */

* {
    margin: 0;
}

body, p, li, div {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--text-black);
}

h1 {
    font-size: 40px;
    font-size: calc(1rem + 24px);
    margin-bottom: 24px;
    margin-bottom: calc(1rem + 8px);
    line-height: 110%;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 22px;
    font-size: calc(1rem + 6px);
    margin:  40px 0 16px 0;
    margin:  calc(1rem + 24px) 0 1rem 0;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -0.01em;
    color: var(--shortpoint-blue);
}

@media (min-width: 600px) {
    h1 {
        font-size: 46px;
        font-size: calc(1rem + 30px);
        margin-bottom: 28px;
        margin-bottom: calc(1rem + 12px);
    }

    h3 {
        font-size: 26px;
        font-size: calc(1rem + 10px);
        margin:  46px 0 16px 0;
        margin:  calc(1rem + 30px) 0 1rem 0;
    }  
}

@media (min-width: 768px) {
    h1 {
        font-size: 56px;
        font-size: calc(1rem + 40px);
        margin-bottom: 28px;
        margin-bottom: calc(1rem + 12px);
    }

    h3 {
        font-size: 28px;
        font-size: calc(1rem + 12px);
        margin:  48px 0 16px 0;
        margin:  calc(1rem + 32px) 0 1rem 0;
    }  
}

@media (min-width: 992px) {
    h1 {
        font-size: 66px;
        font-size: calc(1rem + 50px);
        margin-bottom: 32px;
        margin-bottom: calc(1rem + 16px);
    }

    h3 {
        font-size: 30px;
        font-size: calc(1rem + 14px);
        margin:  50px 0 16px 0;
        margin:  calc(1rem + 34px) 0 1rem 0;
    }  
}

@media (min-width: 1200px) {
    h1 {
        font-size: 72px;
        font-size: calc(1rem + 56px);
        margin-bottom: 32px;
        margin-bottom: calc(1rem + 16px);
    }

    h3 {
        font-size: 32px;
        font-size: calc(1rem + 16px);
        margin:  56px 0 16px 0;
        margin:  calc(1rem + 40px) 0 1rem 0;
    }   
}


[data-cy="section-wrapper-padder"] {
    padding-bottom: 40px;
}


/* Container */


.sp-dev-css__container {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 48px);
}   

@media (min-width: 768px) {
    .sp-dev-css__container {
        max-width: 704px;
    }   
}

@media (min-width: 992px) {
    .sp-dev-css__container {
        max-width: 920px;
    }   
}

@media (min-width: 1200px) {
    .sp-dev-css__container {
        max-width: 1100px;
    }   
}

@media (min-width: 1400px) {
    .sp-dev-css__container {
        max-width: 1224px;
    }   
}


/* General Buttons */


button, [type="button"], [type="reset"], [type="submit"] {
    display: block;
    cursor: pointer;
    transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

.sp-dev-css__btn {
    font-size: 18px;
    font-size: calc(1rem + 2px);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.02em;
    border-radius: 8px;
    padding: 16px;
}


@media (min-width: 992px) {
    .sp-dev-css__btn {
        font-size: 20px;
        font-size: calc(1rem + 4px);
    }
}

.sp-dev-css__btn-primary {
    width: 100%;
    max-width: 260px;
    background-color: var(--shortpoint-blue);
    color: #ffffff;
    border: 1px solid var(--shortpoint-blue);
}

.sp-dev-css__btn-primary:hover {
    background-color: var(--st-patricks-blue);
    color: #ffffff;
    border: 1px solid var(--st-patricks-blue);
}

.sp-dev-css__btn-primary-transparent {
    width: 100%;
    max-width: 260px;
    background-color: transparent;
    color: var(--shortpoint-blue);
    border: 1px solid var(--shortpoint-blue);
}

.sp-dev-css__btn-primary-transparent:hover {
    background-color: var(--st-patricks-blue);
    color: #ffffff;
    border: 1px solid var(--st-patricks-blue);
}

.sp-dev-css__btn-link {
    background-color: #ffffff;
    color: var(--shortpoint-blue);
    border: none;
    padding: 0;
}

.sp-dev-css__btn-link:hover {
    background-color: #ffffff;
    color: var(--st-patricks-blue);
    border: none;
}

.sp-dev-css__btn-small {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--shortpoint-blue);
    color: #ffffff;
    border: 1px solid var(--shortpoint-blue);
}

.sp-dev-css__btn-small:hover {
    background-color: var(--st-patricks-blue);
    color: #ffffff;
    border-color: var(--st-patricks-blue);
}

.sp-dev-css__btn-small-transparent {
    font-size:  1rem;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: transparent;
    color: var(--shortpoint-blue);
    border: 1px solid var(--shortpoint-blue);
}

.sp-dev-css__btn-small-transparent svg {
    width: 18px;
    height: auto;
}

.sp-dev-css__btn-small-transparent:hover {
    background-color: var(--st-patricks-blue);
    color: #ffffff;
    border: 1px solid var(--st-patricks-blue);
}

.sp-dev-css__btn-small-transparent:hover svg path {
    fill: #ffffff;
}


/* Navbar */

[data-scroll-point="section-navigation"] {
    z-index: 2;
}

.custom-css-style-navigation-logo img {
    width: 100%;
}

.custom-css-style-navigation-logo {
    width:  140px;
}

.sp-dev-css__nav {
    padding: 8px 0 !important;
}

@media (min-width: 600px) {
    .custom-css-style-navigation-logo {
        width:  150px;
    }

}

@media (min-width: 768px) {
    .custom-css-style-navigation-logo {
        width:  160px;
    }

}

@media (min-width: 992px) {
    .custom-css-style-navigation-logo {
        width:  186px;
    }
    .sp-dev-css__nav {
        padding: 16px 0 !important;
    }

}

.sp-dev-css__nav [role="menuitem"]:not(.sp-dev-css__btn) {
    color: var(--shortpoint-blue);
}


/* Banner section */


/* Banner background and shapes */


.custom-css-style-first-section-background {
    background-image: linear-gradient(var(--alice-blue), #ffffff);
    position: relative;
}

.custom-css-style-first-section-background > div {
    z-index: 1;
}

.custom-css-style-first-section-background .sp-dev-css__banner-bg-shapes {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.custom-css-style-first-section-background .sp-dev-css__banner-bg-shapes ~ div {
    position: relative;
    z-index: 1;
}

.sp-dev-css__banner-bg-shapes > svg {
    position: absolute;
}

.sp-dev-css__blue-triangle {
    width: calc(94px - (1440px - 100vw) * 0.05);
    left: calc(7% - (1440px - 100vw) * 0.05);
    top: 58%;
}

.sp-dev-css__green-right-triangle {
    width: calc(64px - (1440px - 100vw) * 0.02);
    left: 38%;
    top: 20%;
}

.sp-dev-css__yellow-semi-circle {
    width: calc(214px - (1440px - 100vw) * 0.08);
    left: 70%;
    top: 12%;
}

.sp-dev-css__peach-square {
    left: 90%;
    top: 64%;
}


/* Banner details */


main > div:first-child h2 {
    display: inline-flex;
    gap: 4px 8px;
    flex-wrap:  wrap;
    align-items: center;
    color: var(--shortpoint-blue);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    font-size: calc(13rem / 16);
}

main > div:first-child h2 * {
    color: var(--shortpoint-blue);
    letter-spacing: 0.06em;
    margin-top: 0;
}

main > div:first-child h2 > * {
    line-height: 130%;
    margin: 0;
}


main > div:first-child h2 > span:first-child {
    /*   Remote word   */
    font-weight: 700;
}

main > div:first-child h2 > span:first-child > span {
    padding: 0;
}

main > div:first-child h2 > span:nth-child(1) {
    order: 1;
}

main > div:first-child h2 > span:nth-child(2) {
    order: 2;
}

main > div:first-child h2 [data-cy="department-name"] {
    padding: 6px 8px;
    background-color: var(--alice-blue);
    border-radius: 40px;
    line-height: 100%;
    margin: 0;
}

main > div:first-child h2 .sp-dev-css__location-box {
    display: flex;  
}

main > div:first-child h2 .sp-dev-css__location-box > svg {
    margin-right: 4px;  
}

@media (min-width: 600px) {
    main > div:first-child h2 {
        gap: 8px 12px;
        font-size: 14px;
        font-size: calc(14rem / 16);
    }

    main > div:first-child h2 [data-cy="department-name"] {
        padding: 8px 12px;
    }
}

@media (min-width: 768px) {
    main > div:first-child h2 {
        font-size: 1rem;
    }

    main > div:first-child h2 [data-cy="department-name"] {
        padding: 10px 16px;
    }
}


/* Banner Navigation */


.custom-css-style-job-section-navigation {
    box-shadow: none;
    height:  auto;
}

.custom-css-style-job-section-navigation [role="tablist"] {
    justify-content: center;
}

.custom-css-style-job-section-navigation [role="tablist"] button {
    font-size: 20px;
    font-size: calc(1rem + 4px);
    color: var(--baby-blue-eyes);
    font-weight: 500;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    width: auto;
    max-width: none;
    height:  auto;
}

@media (min-width: 992px) {
    .custom-css-style-job-section-navigation [role="tablist"] button {
        font-size: 30px;
        font-size: calc(1rem + 14px);
    }
}

.custom-css-style-job-section-navigation [role="tablist"] button[data-selected] {
    font-weight: 700;
    color: var(--st-patricks-blue);
    border-bottom: 3px solid var(--st-patricks-blue);
}

.custom-css-style-job-section-navigation [role="tablist"] button[data-cy="apply-button-nav"] {
    position: relative;
    color: transparent
}

.custom-css-style-job-section-navigation [role="tablist"] button[data-cy="apply-button-nav"]::after {
    content: ".ation";
    position: relative;
}

.custom-css-style-job-section-navigation [role="tablist"] button[data-cy="apply-button-nav"]::before {
    color: var(--baby-blue-eyes);
    content: "Application";
    position: absolute;
    left: 0;
}


/* Main section structure */


@media (min-width: 1200px) {
    .sp-dev-css__structure {
        display: grid;
        grid-template-columns: 704px minmax(0px, 394px);
        gap: 48px;
        align-items: start;
        justify-content: space-between;
    }
}


/* Main section structure main */

h3:first-child {
    margin-top: 0;
}

strong.sp-dev-css__h4, h4 {
    display: block;
    color: var(--st-patricks-blue);
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-size: 20px;
    font-size: calc(1rem + 4px);
    margin: 32px 0 16px 0;
    margin: calc(1rem + 16px) 0 1rem 0;
}

@media (min-width: 992px) {
    strong.sp-dev-css__h4, h4 {
        font-size: 24px;
        font-size: calc(1rem + 8px);
        margin: 40px 0 16px 0;
        margin: calc(1rem + 24px) 0 1rem 0;
    }
}


/* Main section structure side */

.sp-dev-css__structure-side {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 14px;
    text-align: center;
    padding: 28px;
    border: 1px solid var(--alice-blue);
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(50, 98, 209, 0.1);
}

.sp-dev-css__structure-side > p:first-child {
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 1rem;
}

@media (min-width: 600px) {
    .sp-dev-css__structure-side {
        padding: 36px;
        gap: 18px;
    }
}

@media (min-width: 992px) {
    .sp-dev-css__structure-side {
        padding: 46px 66px;
        gap: 26px;
    }
    
    .sp-dev-css__structure-side > p:first-child {
        font-size: 18px;
        font-size: calc(1rem + 2px);
    }
}


.sp-dev-css__indeed-apply-btn {
    width:  100%;
    max-width: 260px;
}

/* Form page */


/* Form page general */


fieldset {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

#offer-section form fieldset {
    border-bottom: none;
}


#offer-section form legend:not(.sp-dev-css__legend-label) {
    font-size: 22px;
    font-size: calc(1rem + 6px);
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -0.01em;
    color: var(--shortpoint-blue);
    margin: 40px 0 16px 0;
    margin: calc(1rem + 24px) 0 1rem 0;
}

#offer-section form legend:not(.sp-dev-css__legend-label) * {
    font-size: 22px;
    font-size: calc(1rem + 6px);
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -0.01em;
    color: var(--shortpoint-blue);
}

@media (min-width: 600px) {
    #offer-section form legend:not(.sp-dev-css__legend-label) {
        font-size: 26px;
        font-size: calc(1rem + 10px);
        margin:  46px 0 16px 0;
        margin:  calc(1rem + 30px) 0 1rem 0;
    }
    #offer-section form legend:not(.sp-dev-css__legend-label) * {
        font-size: 26px;
        font-size: calc(1rem + 10px);
    }  
}

@media (min-width: 768px) {
    #offer-section form legend:not(.sp-dev-css__legend-label) {
        font-size: 28px;
        font-size: calc(1rem + 12px);
        margin:  48px 0 16px 0;
        margin:  calc(1rem + 32px) 0 1rem 0;
    }
    #offer-section form legend:not(.sp-dev-css__legend-label) * {
        font-size: 28px;
        font-size: calc(1rem + 12px);
    }  
}

@media (min-width: 992px) {
    #offer-section form legend:not(.sp-dev-css__legend-label) {
        font-size: 30px;
        font-size: calc(1rem + 14px);
        margin:  50px 0 16px 0;
        margin:  calc(1rem + 34px) 0 1rem 0;
    }

    #offer-section form legend:not(.sp-dev-css__legend-label) * {
        font-size: 30px;
        font-size: calc(1rem + 14px);
    }  
}

@media (min-width: 1200px) {
    #offer-section form legend:not(.sp-dev-css__legend-label) {
        font-size: 32px;
        font-size: calc(1rem + 16px);
        margin:  56px 0 16px 0;
        margin:  calc(1rem + 40px) 0 1rem 0;
    }   
    
    #offer-section form legend:not(.sp-dev-css__legend-label) * {
        font-size: 32px;
        font-size: calc(1rem + 16px);
    }   
}

#offer-section form legend + p {
    margin: 0 0 32px;
    margin: 0 0 calc(1rem + 16px);
    font-size: 1rem;
}

#offer-section form span.sp-dev-css__required-field-mark {
    color: var(--frostbite-pink);
}

#offer-section form label, 
#offer-section form legend.sp-dev-css__legend-label {
    color: var(--st-patricks-blue);
    margin-bottom: 0.5rem;
    display: block;
}

#offer-section form input[type="checkbox"] + label {
    padding-left: 40px;
}

#offer-section form input[type="radio"] + label {
    padding-left: 40px;
}


#offer-section form label *, #offer-section form legend.sp-dev-css__legend-label * {
    color: var(--st-patricks-blue);
}

#offer-section form p  {
    margin-bottom: 0.5rem;
}

#offer-section form h3 + p  {
    margin-bottom: 32px;
    margin-bottom: calc(1rem + 16px);
}


/* Form page inputs */

#offer-section form :is(input, textarea) {
    max-width: none;
    width: 100%;
    border: 1px solid var(--baby-blue-eyes);
    padding: 8px 16px;
    font-size: calc(14rem / 16);
    color: var(--neutral-dark);
    margin: 0;
    transition: box-shadow 0.2s ease-out;
}

#offer-section form :is(input, textarea)::placeholder {
    color: var(--baby-blue-eyes);
}

#offer-section form input[type="tel"] {
    margin-left: 0;
}

#offer-section form input[type="checkbox"] + * .sp-dev-css__checkbox  {
    border-radius: 3px;
}


[data-cy="segment-legal-agreements"] .sp-dev-css__checkbox {
    margin-top: 3px;
}

[data-cy="segment-legal-agreements"] .sp-dev-css__checkbox + div {
    font-size: 14px;
    font-size: calc(14rem / 16);
    line-height: 150%;
    display: block;
}

[data-cy="segment-legal-agreements"] .sp-dev-css__checkbox + div::after {
    color: var(--frostbite-pink);
}

#offer-section form input[type="checkbox"] + * .sp-dev-css__checkbox svg path {
    fill: #ffffff;
}

.sp-dev-css__file-input-container .ba-videorecorder-chooser-container {
    border-radius: 8px;
    background-color: var(--alice-blue-ii);
}

.sp-dev-css__small-w-input {
    max-width: 392px;
}


/* Form page file inputs */


.sp-dev-css__file-input-container {
    width: 100%;
    background-color: var(--alice-blue-ii);
    border: 1px solid var(--baby-blue-eyes);
    border-radius: 8px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: start;
    justify-items: start;
    align-items: end;
    transition: box-shadow 0.2s ease-out;
}

.sp-dev-css__file-input-container:hover, input:hover, textarea:hover {
    box-shadow: var(--shortpoint-blue) 0px 0px 0px 1px;
}

.sp-dev-css__file-input-container:focus, input:focus, textarea:focus {
    box-shadow: var(--shortpoint-blue) 0px 0px 0px 1px;
}


.sp-dev-css__file-input-container > div, .sp-dev-css__file-input-container > div span {
    text-align: left;
    color: var(--st-patricks-blue);
    font-weight: 400;
}

.sp-dev-css__file-input-container > div:last-of-type {
    align-self: start;
}

.sp-dev-css__file-input-container > svg {
    width:  100%;
    grid-column: 1;
    grid-row: 1 / 3;
    margin-bottom: 16px;
}


.sp-dev-css__file-input-container.sp-dev-css__file-input-filled {
    background-color: var(--magnolia);
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content:  center;
}

.sp-dev-css__file-input-container.sp-dev-css__file-input-filled > div:first-of-type {
    font-size: 20px;
    font-size: calc(1rem + 4px);
    color: var(--neutral-dark);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.sp-dev-css__file-input-container.sp-dev-css__file-input-filled > svg {
    display: none;
}

.sp-dev-css__file-input-container.sp-dev-css__file-input-filled > div:last-of-type {
    align-self: unset;
}

@media (min-width: 600px) {
    .sp-dev-css__file-input-container {
        grid-template-columns: 68px 1fr;
    }
    .sp-dev-css__file-input-container > svg {
        margin-bottom: 0;
    }
}

/* Form page video file inputs */


.sp-dev-css__video-file-input-container {
    width: 100%;
    background-color: var(--alice-blue-ii);
    border: 1px solid var(--baby-blue-eyes);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: 0.2s box-shadow ease-out;
}

.sp-dev-css__video-file-input-container:is(:focus, :hover) {
    box-shadow: var(--shortpoint-blue) 0px 0px 0px 1px;
}

.sp-dev-css__video-file-input-container [data-selector="video-recorder-container"] {
    background-color: transparent;
}

.sp-dev-css__video-file-input-container .ba-recorder-theme-elevate.ba-videorecorder-container .ba-videorecorder-video {
    background-color: transparent;
}

.sp-dev-css__video-file-input-container .ba-recorder-theme-elevate .ba-videorecorder-chooser-container {
    background-color: transparent;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-0 {
    border-radius: 8px;
    background-color: var(--shortpoint-blue);
    border: 1px solid var(--shortpoint-blue);
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-size: 1rem;
    line-height: 150%;
    padding: 8px 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    min-width: 0;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-0 * {
    color: #ffffff;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-1 {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--shortpoint-blue);
    color: var(--shortpoint-blue);
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.01em;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    min-width: 0;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-1 * {
    color: var(--shortpoint-blue);
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-0 i {
    margin-left: 0.4em;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-0 i::before {
    margin: 0;
}


.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-1 i {
    margin-left: 0.4em;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-1 i::before {
    margin: 0;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-0 svg {
    margin-right: 10px;
    width: 22px;
}

.sp-dev-css__video-file-input-container .ba-videorecorder-chooser-button-1 svg {
    margin-right: 10px;
    width: 22px;
}

.sp-dev-css__video-file-input-container .ba-recorder-theme-elevate-dashboard .ba-videorecorder-settings .ba-videorecorder-circle-button * {
    line-height: 40px;    
}

.sp-dev-css__video-file-input-container .ba-player-playbutton-container::after {
    content: "";
    width: 600%;
    height: 600%;
    background: linear-gradient(0deg, rgba(5, 13, 32, 0.4), rgba(5, 13, 32, 0.4)), linear-gradient(71.81deg, rgba(37, 247, 234, 0.5) 6.59%, rgba(144, 43, 244, 0.5) 80.53%);
    background-blend-mode: normal, lighten;
    box-shadow: 0px 12.9023px 23.2242px 7.74141px rgba(69, 121, 241, 0.4);
    position: absolute;
    left: -250%;
    top: -250%;
    z-index: -1;
}

.sp-dev-css__video-file-input-container .ba-videoplayer-noie8 .ba-player-playbutton-button {
    padding: 24px;
}

.sp-dev-css__video-file-input-container .ba-videoplayer-noie8 .ba-player-playbutton-button::after {
    line-height: initial;
    margin: 0;
    font-size: 30px;
}

.sp-dev-css__video-file-input-container .ba-videoplayer-noie8 .ba-player-playbutton-container {
    width: 78px;
    height: 78px;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.sp-dev-css__video-file-input-container img.ba-videoplayer-video {
    object-fit: cover;
    height:  100%;
}

.sp-dev-css__video-file-input-container .ba-videoplayer-container div[ba-show="true"]:not([class]) {
    height: 100%;
}

.sp-dev-css__video-file-input-container .ba-player-rerecord-bar {
    background-color: transparent;
}

.sp-dev-css__video-file-input-container .ba-player-rerecord-button {
    height: auto;
    line-height: initial;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    position: relative;
}

.sp-dev-css__video-file-input-container .ba-player-rerecord-button::after {
    content: "Change file";
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
    top: 0;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.sp-dev-css__video-file-input-container video.ba-videoplayer-video {
    height:  100%;
    width:  100%;
    object-fit: cover;
}